<a href="https://colab.research.google.com/github/VictorGFL/CursodeExtens-opythonpandas/blob/main/Segundo_exemplo_em_Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Segundo exemplo de manipulação de dados usando Python Pandas Veremos inserção de dados, remoção de colunas, merge, gráficos**

AUTOR: VICTOR GABRIEL FERREIRA LEITE

DATA: 09/02/2023

In [64]:
#Importando biblioteca pandas
import pandas as pd

In [65]:
#Definindo um date frame e averiguando se ele está ok
combustíveis_df = pd.read_excel("ca-2021-02.xlsx")
display(combustíveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,População,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,NaN,233047.0,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,233047.0,R$ / litro,VIBRA ENERGIA
1,NE,AL,NaN,233047.0,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,233047.0,R$ / litro,VIBRA ENERGIA
2,NE,AL,NaN,233047.0,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,233047.0,R$ / litro,VIBRA ENERGIA
3,NE,AL,NaN,233047.0,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,233047.0,R$ / litro,VIBRA ENERGIA
4,NE,AL,NaN,233047.0,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,233047.0,R$ / litro,VIBRA ENERGIA

In [66]:
#Inserção simples de dados
combustíveis_df['Ativo'] = True
display(combustíveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,População,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo
0,NE,AL,NaN,233047.0,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,233047.0,R$ / litro,VIBRA ENERGIA,True
1,NE,AL,NaN,233047.0,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,233047.0,R$ / litro,VIBRA ENERGIA,True
2,NE,AL,NaN,233047.0,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,233047.0,R$ / litro,VIBRA ENERGIA,True
3,NE,AL,NaN,233047.0,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,233047.0,R$ / litro,VIBRA ENERGIA,True
4,NE,AL,NaN,233047.0,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,233047.0,R$ / litro,VIBRA ENERGIA,True

In [72]:
#Preenchimento com condicional
import numpy as np
combustíveis_df['Status do Valor de Venda'] = np.where(combustíveis_df['Valor de Venda'] > 6.5, 'Caro', 'Barato')
display(combustíveis_df[['Revenda', 'Valor de Venda', 'Status do Valor de Venda']])

,Revenda,Valor de Venda,Status do Valor de Venda
0,POSTO ARAPIRACA LTDA,6.799,Caro
1,POSTO ARAPIRACA LTDA,5.299,Barato
2,POSTO ARAPIRACA LTDA,5.549,Barato
3,POSTO ARAPIRACA LTDA,6.899,Caro
4,POSTO ARAPIRACA LTDA,5.649,Barato
...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,5.859,Barato
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,4.740,Barato
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,5.448,Barato
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro

In [68]:
#Criar coluna "Obs", com duas condicionais
combustíveis_df['Obs'] = ["NAO COMPRAR" if munic == "Caro" else "COMPRAR" for munic in combustíveis_df["Status do Valor de Venda"]]
display(combustíveis_df.loc[combustíveis_df['Municipio'].isin(['SAO PAULO','INDAIATUBA', 'CAMPINAS', 'SALTO']), ['Municipio', 'Status do Valor de Venda', 'Obs']])

Empty DataFrame
Columns: [Municipio, Status do Valor de Venda, Obs]
Index: []

In [73]:
#Calcular número de postos por habitantes nessa amostragem
num_habitantes_df = pd.read_csv("ibge_num_habitantes_estimado.csv", sep=";")
num_habitantes_df.rename(columns={"Estado":"Estado - Sigla"}, inplace=True)
display(num_habitantes_df)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [74]:
#Merge (Mesclagem) dos df's
colunas = ['Municipio', 'Estado - Sigla']
merge_df = combustíveis_df.merge(num_habitantes_df, how="inner", on=colunas)
display(merge_df)
print(merge_df.info())

Empty DataFrame
Columns: [Regiao - Sigla, Estado - Sigla, Municipio, População, Revenda, CNPJ da Revenda, Nome da Rua, Numero Rua, Complemento, Bairro, Cep, Produto, Data da Coleta, Valor de Venda, Valor de Compra, Unidade de Medida, Bandeira, Ativo, Status do Valor de Venda, Obs, NumHabitantes2021]
Index: []

[0 rows x 21 columns]

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Regiao - Sigla            0 non-null      object
 1   Estado - Sigla            0 non-null      object
 2   Municipio                 0 non-null      object
 3   População                 0 non-null      float64
 4   Revenda                   0 non-null      object
 5   CNPJ da Revenda           0 non-null      object
 6   Nome da Rua               0 non-null      object
 7   Numero Rua                0 non-null      object
 8   Complemento               0 non-null      object
 9   Bairro                    0 non-null      object
 10  Cep                       0 non-null      object
 11  Produto                   0 non-null      object
 12  Data da Coleta            0 non-null      datetime64[ns]
 13  Valor de Venda            0 non-null      float64
 14  Valor de Compra           0 non-null      float64
 15  Unidade de Medida         0 non-null      object
 16  Bandeira                  0 non-null      object
 17  Ativo                     0 non-null      bool
 18  Status do Valor de Venda  0 non-null      object
 19  Obs                       0 non-null      object
 20  NumHabitantes2021         0 non-null      int64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(1), object(15)
memory usage: 0.0+ bytes
None

In [71]:
#Destruir coluna vazia
merge_df.dropna(axis='columns', inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Regiao - Sigla            0 non-null      object
 1   Estado - Sigla            0 non-null      object
 2   Municipio                 0 non-null      object
 3   População                 0 non-null      float64
 4   Revenda                   0 non-null      object
 5   CNPJ da Revenda           0 non-null      object
 6   Nome da Rua               0 non-null      object
 7   Numero Rua                0 non-null      object
 8   Complemento               0 non-null      object
 9   Bairro                    0 non-null      object
 10  Cep                       0 non-null      object
 11  Produto                   0 non-null      object
 12  Data da Coleta            0 non-null      datetime64[ns]
 13  Valor de Venda            0 non-null      float64
 14  Valor de Compra           0 non-null      float64
 15  Unidade de Medida         0 non-null      object
 16  Bandeira                  0 non-null      object
 17  Ativo                     0 non-null      bool
 18  Status do Valor de Venda  0 non-null      object
 19  Obs                       0 non-null      object
 20  NumHabitantes2021         0 non-null      int64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(1), object(15)
memory usage: 0.0+ bytes
None

In [86]:
colunas= ['Regiao - Sigla', 'Nome da Rua', 'Numero Rua', 
         'Bairro', 'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda',
         'Unidade de Medida', 'Bandeira', 'Ativo', 'Status do Valor de Venda']
merge_df.drop(labels=colunas, axis=1, inplace = True)
print(merge_df.info())

KeyError: ignored

In [83]:
# Remover a linhas duplicadas
merge_df.drop_duplicates(inplace=True)
display(merge_df.head(100))

Empty DataFrame
Columns: [Estado - Sigla, Municipio, População, Revenda, CNPJ da Revenda, Complemento, Valor de Compra, Obs, NumHabitantes2021]
Index: []

In [89]:
#Agrupar e contar quantos postos tem na cidade
#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "Número de Postos"}, inplace=True)
display(postos_por_municipio_df)

Empty DataFrame
Columns: [População, Número de Postos, Complemento, Valor de Compra, Obs]
Index: []

In [90]:
#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
display(postos_por_municipio_df.info())
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "NumPostos"}, inplace=True)

#postos_por_municipio_df['PostosPorHabitante'] = postos_por_municipio_df['NumPostos'] / postos_por_municipio_df['NumHabitantes2021']
display(postos_por_municipio_df)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 0 entries
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   População        0 non-null      int64
 1   Revenda          0 non-null      int64
 2   CNPJ da Revenda  0 non-null      int64
 3   Complemento      0 non-null      int64
 4   Valor de Compra  0 non-null      int64
 5   Obs              0 non-null      int64
dtypes: int64(6)
memory usage: 187.0 bytes

None

Empty DataFrame
Columns: [População, NumPostos, Complemento, Valor de Compra, Obs]
Index: []